body{
    font-family:'Playfair Display' , serif;
}

.mainheader{
    background-color: #f1f1f1;
    margin-top: 0;
    margin-bottom: 0px;
    padding-bottom: 25px;
}

a:link {
    text-decoration: none;
}

.logo {
    display: inline;
    float: left;
    width: 93px;
    height: 38px;
    background: url(images/loydslogo.svg);
    background-repeat: no-repeat;
    background-size: 93px;
    background-color: #000;
    margin-left: 175px;
}

.top-nav{
    list-style-type: none;
    text-align: center;
    width: 70%;
    padding-top: 10px;
    padding-left: 1px;
    padding-right: 1px;
    margin: 0 auto;
    color: #000;
    border-bottom: 1px solid #ccc;
}

.top-nav li{
    display: inline-block;
    padding: 0px 5px 0px 5px ;
    border-right: solid 1px;
    font-size: 14px;
}

 /* search bar */

 .search input[type=text] {
  float: right;
  border: none;
  margin: 0 auto;
  padding: 0px 5px 0px 5px ;
  font-size: 14px;
}

.topnavlinks{
    color: black;
}

a:hover{
    text-decoration: underline;
}

.secondary-nav{
    list-style-type: none;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 20px;
    bottom: auto;   
}

.secondary-nav li{
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -3px;
    background-color: #282f54
}

.secondnavlinks{
    font-weight: 600;
    color: white;
}

.crumbs{
    padding-top: 2%;
    margin-left: 175px;
    color: #909cb9;
    font-size: 20px;
}

h1{
    color: #262626;
    font-size: 48px;
    margin-left: 175px; 
    margin-top: 0;
    padding-top: 1%;  
}

.headerdescription{
    margin-left: 175px;
    margin-right: 175px;
}

.sharebutton{
    margin-left: 175px;
}

.introtext{
    margin-left: 175px;
    margin-right: 175px;
    margin-bottom: 25px;
    font-size: 18px;
}

.row{
    width: 100%
}

.img-column{
    display: inline-block;
    width: 30%;
    height: auto;
}

img{
    margin-left: 190px;
    max-width: 100%;
}

.content-column{
    display: inline-block;
    width: 55%; 
    padding-left: 10px;
    padding-right: 25px;
    padding-bottom: 35px;
}

.bookparagraphs{
    margin-bottom: 30px;
}

.booklink{
    background-color: #0a4bb7;
    color: white;
    padding: 15px;
}

.footer{
    background-color: #141414;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-content{
    margin-left: 175px;
    margin-right: 175px;
    color: #ffffff;
    font-size: 18px;
}

.footernav{
    list-style-type: none;
}

.footerlinks {
    color: #fff;
}

.footernav li{
    display: inline-block;
    padding: 0 5px;
    border-right: solid 1px
}

.wrapper {
    width: 72%;
    margin: 0 auto;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  text-align: left;
  background-color: #f1f1f1;
  min-width: 850px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdownitem {
  display: block;
  position: relative;

}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  clear: both;
  text-decoration: none;
  display: inline-block;
  
}

.dropdown-title {
  display: inline-block;
  padding-bottom: 1%; 
  padding-left: 1%;
  border-bottom: 1px solid #000;
  text-decoration: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {text-decoration: underline;}

.dropdown-title a:hover {
  text-decoration: none;
  display: inline-block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: grid;
    grid-template-columns: repeat(25, 35px[col-start]);
    grid-template-rows: repeat(7, 45px[row-start]);
    /* grid-auto-flow: row; */
}

/* drop down menu item positions */

.dropdown-title {
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid black;
  padding: 0 700px 5px 0;
}


.item-a {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 3;
}


.item-b {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 4;

}

.item-c {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 5;

}

.item-d {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 6;
}

.item-e {
  grid-column-start: 9;
  grid-column-end: 15;
  grid-row-start: 3;
  grid-row-end: 3;
}

.item-f {
  grid-column-start: 9;
  grid-column-end: 20;
  grid-row-start: 4;
  grid-row-end: 4;

}

.item-g {
  grid-column-start: 9;
  grid-column-end: 15;
  grid-row-start: 5;
  grid-row-end: 5;
}

.item-h {
  grid-column-start: 20;
  grid-column-end: 25;
  grid-row-start: 3;
  grid-row-end: 3;
}

.item-i {
  grid-column-start: 20;
  grid-column-end: 25;
  grid-row-start: 4;
  grid-row-end: 4;
  
}

.item-j {
  grid-column-start: 20;
  grid-column-end: 25;
  grid-row-start: 5;
  grid-row-end: 5;
}


/* social media icons */

.fa {
padding: 7px;
font-size: 5px;
width: 10px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
}

.fa-linkedin {
background: #007bb5;
color: white;
}

.fa-youtube {
background: #bb0000;
color: white;
}
